---
import AboutMeLayout from '../layouts/AboutMe.astro';
import AboutHeroImage from '../assets/marigrace-landscape.jpg';
import SiteBasic from '../layouts/SiteBasic.astro';
---
<SiteBasic classes="min-w-screen px-6 md:px-0">
    <AboutMeLayout
        title="About Me"
        description="Information about Marigrace's background"
        pubDate={new Date('November 2025')}
        heroImage={AboutHeroImage}
    >
        <p>
            I'm a software engineer with 5 years of experience based in central/south Florida. 
            I graduated from the University of Florida in December of 2018 with two degrees, a B.A. in Environmental Science and a B.A. in East Asian Languages, Literature, and Culture - Chinese Studies.
            Having a long term interest in frontend development through customisable personal sites like Xanga and Tumblr, I decided to enroll in a coding bootcamp - The Grace Hopper Program at Fullstack Academy.
            After completing the program, I was a teaching fellow for the following cohort before starting my career in the industry in early 2020.
        </p>
        <p>
            As a fullstack engineer with a frontend focus, I enjoy building out experiences that are both beautiful and intuitive while still being accessible. 
            Behind the scenes, writing code that is clean, readable and well-documented is important to me. 
            In my career, I hope to build things that help people connect with the world through creativity, language and knowledge-sharing. 
        </p>
    </AboutMeLayout>
</SiteBasic>