---
import AboutHeroImage from '../assets/marigrace-portrait.jpg';
import Layout from '../layouts/AboutMe.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 03 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		software engineer turned language student!
	</p>
</Layout>
