---
import SiteBasic from '../layouts/SiteBasic.astro';
import Footer from '../components/Footer.astro';
---
<SiteBasic classes="min-w-screen flex flex-col justify-center items-end">
	<div class="bg-white/75 rounded-lg shadow-md p-6 m-2">
		<h1 class="mb-4">Marigrace Leeman</h1>
		<p>
			Frontend-focused full-stack <span class="underline decoration-double decoration-indigo-500">software engineer</span> with experience building responsive, performant web applications.
		</p>
		<p>
			In my free time, I enjoy journaling, language learning, and playing video games!
		</p>
	</div>
	<div class="flex items-center bg-white/75 rounded-lg shadow-md p-6 m-2">
		Contact me on <a href="https://www.linkedin.com/in/leemanm/" target="_blank" class="pl-1 text-indigo-500 decoration-indigo-600 underline">LinkedIn</a>
	</div>
	<Footer />
</SiteBasic>
