---
import { Image } from 'astro:assets';

const { heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<style>
			article {
				display: flex;
				flex-direction: column;
				flex: 0 1 auto;
				width: 30em;
				padding: 0 2em 0 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				border-radius: 6%;
				width: 100%;
				object-fit: cover;
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
		</style>
	</head>
	<article>
		<div class="article-header">
			<div class="hero-image">
				{heroImage && <Image src={heroImage} alt="" />}
			</div>
		</div>
		<div class="prose">
			<slot />
		</div>
	</article>
</html>
