---
import { Image } from 'astro:assets';

const { heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<style>
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
		</style>
	</head>
	<article class="w-full flex flex-col items-center md:items-end my-4 md:mt-24">
		{heroImage && 
			<Image class="h-[250px] w-[400px] object-cover" src={heroImage} alt="" />
		}
		<div class="bg-white/75 rounded-lg shadow-md md:text-right mt-2 p-6 md:w-3/4">
			<slot />
		</div>
	</article>
</html>
